.page-header
  %h1= t '.title', default: Post

.published
  %h2 Published
  %ul
    - @posts.each do |post|
      - if post.published?
        = render post

.drafts
  %h2 Drafts
  %ul
    - @posts.each do |post|
      - if post.draft?
        = render post

= link_to t('.new', default: t("helpers.links.new")), new_user_post_path(@user), class: 'btn btn-primary'
